{% load static %}
{% load group_tags %}
{% load active_link_tags %}
<nav class="navbar navbar-expand-lg  shadow-lg bg-body"
     aria-label="Offcanvas navbar large">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url "poisons:list" %}">
      <img src="{% static 'assets/imgs/favicon.ico' %}"
           alt="Logo"
           width="24"
           height="24"
           class="d-inline-block align-text-top">
      PoisonWiki
      {% if request.user|has_group:"testers" %}<span class="ps-1 text-primary">| Tester</span>{% endif %}
    </a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar2"
            aria-controls="offcanvasNavbar2">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas dark-offcanvas offcanvas-end text-bg-dark w-75"
         tabindex="-1"
         id="offcanvasNavbar2"
         aria-labelledby="offcanvasNavbar2Label">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbar2Label">
          PoisonWiki
          {% if request.user|has_group:"testers" %}<span class="ps-1 text-primary">| Tester</span>{% endif %}
        </h5>
        <button type="button"
                class="btn-close btn-close-white"
                data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav h-100 justify-content-end flex-grow-1">
          {% comment %} <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li> {% endcomment %}
          {% comment %} <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>  
               <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="#">Action</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Another action</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
            </ul> 
          </li> {% endcomment %}
          <li class="nav-item">
            <a class="nav-link {% active_link 'poisons:list' css_inactive_class='text-muted' strict=True %}"
               href="{% url "poisons:list" %}">PoisonIndex</a>
          </li>
          {% comment %} <li class="nav-item">
              <a class="nav-link {% active_link 'poisons:history' css_inactive_class='text-muted' strict=True %}" href="{% url "poisons:history" %}">Histórico</a>
          </li> {% endcomment %}
          <div class="nav-item h-100 d-flex align-items-end">
            {% if user.is_authenticated %}
              <form method="post"
                    class="w-100 py-1 px-2 mt-3 mt-sm-0 "
                    action="{% url 'accounts:sign_out' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger w-100">
                  Sign Out
                  <i class="ps-1 bi bi-box-arrow-right"></i>
                </button>
              </form>
            {% else %}
            <form method="post"
            class="w-100 py-1 px-2 mt-3 mt-sm-0 "
            action="{% url 'accounts:sign_in' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-success w-100">
          Sign In
          {% comment %} <i class="ps-1 bi bi-box-arrow-left"></i> {% endcomment %}
        </button>
      </form>
            {% endif %}
          </div>
        </ul>
      </div>
    </div>
  </div>
</nav>
