{% extends "base.html" %}
{% load img_tags %}
{% load thumbnail %}
{% comment %} {% load string_tags %} {% endcomment %}
{% block content %}
    <a href="{% url "poisons:list" %}" class="btn btn-outline-success py-0"><i class="bi bi-arrow-left fs-3"></i></a>
    <div class="d-flex align-items-center justify-content-center flex-column ">
        <div class="mt-2 mb-2 py-2 flex-row d-flex align-items-center justify-content-between">
            <div>
                <h3 class="title text-success-emphasis fw-bold fs-1 ">{{ poison.name }}</h3>
                <h4 class="text-white fs-2 text fst-italic fw-light blockquote-footer pt-2">{{ poison.scientific_name }}</h4>
            </div>
            {% if poison.image|get_format == 'PNG' %}
                {% thumbnail poison.image "200x150" crop="center" as im %}
                    <img class="img-fluid mx-4"
                         alt="poison {{ poison.id }} image"
                         src="{{ im.url }}"
                         width="{{ im.width }}"
                         height="{{ im.height }}">
                {% endthumbnail %}
            {% else %}
                {% thumbnail poison.image "200x150" crop="center" colorspace="GRAY" as im %}
                    <img class="img-fluid mx-4"
                         alt="poison {{ poison.id }} image"
                         src="{{ im.url }}"
                         width="{{ im.width }}"
                         height="{{ im.height }}">
                {% endthumbnail %}
            {% endif %}
        </div>
        <div class="card p-0 my-3 col-12 col-md-12 col-lg-9 col-xl-6 col-xxl-5 shadow-lg p-3 mb-5 bg-body-tertiary rounded bg-success p-2 text-dark bg-opacity-10 border border-success"
             id="poison-{{ poison.id }}">
            <div class="card-body rounded-bottom">
                {% comment %} <p class="text-success-emphasis">{{ poison.get_contamination_type_display }}</p> {% endcomment %}
                <p class="text-success-emphasis">{{ poison.html_description }}</p>
                <details>
                    <summary>Symptoms</summary>
                    <p class="text-success-emphasis">{{ poison.html_symptoms }}</p>
                </details>
                <details>
                    <summary>Treatment</summary>
                    <p class="text-success-emphasis">{{ poison.html_treatment }}</p>
                </details>
            </div>
            <a class=" rounded-pill btn btn-success my-3 w-50 mx-auto fs-2 fw-bold"
               href="{{ poison.info_url }}" target="_blank">Learn More</a>
        </div>
    </div>
{% endblock content %}
